version: "2"
services:
  therapist-area:
    image: damadden88/therapist-area:latest
    links:
      - postgis
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgis:5432/therapist
    ports:
      - 8082:8082

  therapist:
    image: damadden88/therapist:latest
    links:
      - mysql
    environment:
      - SPRING_DATASOURCE_USERNAME=massagerelax
      - SPRING_DATASOURCE_PASSWORD=massagerelax
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/massagerelax?useUnicode=yes&characterEncoding=UTF-8
      - AREA-SERVICE_HOST=therapist-area
      - AREA-SERVICE_PORT=8082
    ports:
      - 8081:8081

  postgis:
    image: mdillon/postgis
    environment:
      POSTGRES_PASSWORD: therapist
      POSTGRES_DB: therapist

  mysql:
    image: mysql:5.7.23
    hostname: mysql
    environment:
      MYSQL_PASSWORD: massagerelax
      MYSQL_USER: massagerelax
      MYSQL_DATABASE: massagerelax
      MYSQL_ROOT_PASSWORD: massagerelax
